<head>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/video-dev/clappr-rtmp-plugin@latest/dist/rtmp.min.js"></script>
</head>

<body>
	<a href="{{ ApiGatewayAddr }}/ping">test link</a>
	<div id="player-wrapper"></div>

	
	<script>
		var player = new Clappr.Player({
			width: "100%",
			height: "100%",
			source: "rtmp://192.168.4.1:30001/live/prison_out",
			autoPlay: true,
			parentId: "#player-wrapper",
			plugins: {'playback': [RTMP]},
			rtmpConfig: {
					playbackType: 'live',
			},
		});
  </script>
</body>