<head>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/video-dev/clappr-rtmp-plugin@latest/dist/rtmp.min.js"></script>
</head>

<body>
	<a href="/setting" 
		style="
			position: absolute;
			z-index: 100;

		">设置</a>
	<div id="player-wrapper" ></div>

	<script>
		var player = new Clappr.Player({
			height: "100%",
			width: "100%",
			source: "rtmp://localhost:1935/live/prison_out",
			autoPlay: true,
			parentId: "#player-wrapper",
			plugins: {'playback': [RTMP]},
			rtmpConfig: {
					playbackType: 'live',
			},
			chromeless: true
		});
	</script>

</body>