<body>
  <form action="/setting" method="POST">
    Ymin:<br>
    <input type='number' step="0.1" min="0" max="1" name='Ymin' value='{{ .Ymin }}'>
    <br>

    Xmin:<br>
    <input type='number' step="0.1" min="0" max="1" name='Xmin' value='{{ .Xmin }}'>
    <br>

    Ymax:<br>
    <input type='number' step="0.1" min="0" max="1" name='Ymax' value='{{ .Ymax }}'>
    <br>

    Xmax:<br>
    <input type='number' step="0.1" min="0" max="1" name='Xmax' value='{{ .Xmax }}'>
    <br><br>

    <input type="submit" value="Submit">
  </form>

  <script>
  </script>
</body>